/* 
    Hero h1
*/
.jumbotron h1 {
    color: red !important;
}

/*
    target children of the navbar
*/
.nav * {
    color: red !important;
}

/*
    Write a selector to target the “continue reading…” inside the jumbotron
*/
.jumbotron p a.font-weight-bold {
    color: red !important;
}

/*
    Write a selector to target the first blogpost
*/
main .blog-main .blog-post:first-of-type {
    border: 1px solid red;
}

/*
    Write a selector to target the first blogpost `<hr>` and turn it red
*/
main .blog-main .blog-post:first-of-type hr {
    border-top: 1px solid red;
}

/*
    Write a selector to target the “even” links in the navbar   
*/
.nav span:nth-child(even) {
    color: blue !important;
}

/*
    Write a selector to target all the `<li>` into the first ordered-list in the sidebar ( Archives )
*/
aside.blog-sidebar .p-4:nth-child(2) ol li {
    border-bottom: 1px solid red !important;
}

/*
    Write a selector to target the second blog-post author
*/
main .blog-main .blog-post:nth-of-type(2) p.blog-post-meta a {
    color: red !important;
}

/*
    Write a selector to target the second `<li>` in the third blog-post unordered-list
*/
main .blog-main .blog-post:nth-of-type(3) ul li:nth-child(2) {
    color: red !important;
}
