/* 
    Hero h1
*/
.jumbotron h1 {
    color: red !important;
}

/*
    target children of the navbar
*/
.nav * {
    color: red !important;
}

/*
    Write a selector to target the “continue reading…” inside the jumbotron
*/
.jumbotron p a.font-weight-bold {
    color: red !important;
}

/*
    Write a selector to target the first blogpost
*/
main .blog-main .blog-post:first-of-type {
    border: 1px solid red;
}
